.App {
  font-family: sans-serif;
  text-align: center;
  color: pink;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: pink;
  color: white;
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
}
